appdirs==1.4.4
bob==9.0.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
decorator==5.0.7
dogpile.cache==1.1.2
idna==2.10
iso8601==0.1.14
jmespath==0.10.0
jsonpatch==1.32
jsonpointer==2.1
keystoneauth1==4.3.1
os-service-types==1.7.0
pbr==5.5.1
pycparser==2.20
requests==2.25.1
six==1.15.0
stevedore==3.3.0
urllib3==1.26.4
